.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section .section--title,
.section .section--desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.section .section--title{
    font-size: 1.4rem;
}
.section .section--desc{
    font-size: 0.7rem;
    color: #CCC;
    margin-top: 0.4%;
    margin-bottom: 3%;
}
.section--body{
    max-width: 1140px;
    margin: auto;
}
.section.light {
    background-color: #F7F7F7;
}
.section.light .section--title,
.section.light .section--body {
    color: #000;
}
.section.dark {
    background-color: #000;
}
.section.dark .section--title, 
.section.dark .section--body {
    color: #FFF;
}





/* ABOUT US */


.section--body .section--aboutus {
    display: flex;
}
.section--body .section--aboutus--left {
    flex: 1;
}
.section--body .section--aboutus--right {
    width: 520px;
    text-align: center;
}
.section--body .section--aboutus--right p {
    font-size: 0.8rem;
    line-height: 30px;
}
.section--body .section--aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
.section--body .button{
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}


@media(max-width:800px) {

    .section--body .section--aboutus {
        flex-direction: column;
    }
    .section--body .section--aboutus--left {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    .section--body .section--aboutus--right {
        width: auto;
    }
}
@media(max-width:500px){
    .section--body .section--aboutus--right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section--body .section--aboutus--right img {
        width: 100%;
    }
}


/* Services */


.section--services {
    display: flex;
}
.section--services .section--service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 3%;
}
.section--services .section--service:first-child {
    border-left: 1px solid #333;
}
.section--services .section--service h4 {
    margin-top: 4%;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.section--services .section--service p {
    margin-top: 3%;
    font-size: 0.8rem;
    color: #999;
}


@media(max-width:800px) {
    .section--services {
        flex-wrap: wrap;
    }
    .section--services .section--service {
        min-width: 50%;
        margin-bottom: 5%;
    }
    .section--services .section--service:first-child {
        border-left: none;
    }
}

@media(max-width:500px) {
    .section--services .section--service {
        min-width: 100%;
    }
}
/* Projects */




.section--projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--projects .section--projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section--projects .section--projects--filters ul,
.section--projects .section--projects--filters li {
    list-style: none;
}
.section--projects .section--projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section--projects .section--projects--filters li:hover {
    border-bottom: 3px solid #b28756;
}
.section--projects .section--projects--filters li.active {
    border-bottom: 3px solid #b28756;
}
.section--projects .section--projects--filters li:first-child{
    border-left: 0;
}

.section--projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section--projects .section--projects--photo {
    width: 280px;
}
.section--projects .section--projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section--projects .section--projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section--projects--photos .section--projects--info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
}
.section--projects--photos .section--projects--info h5 {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.section--projects--photos .section--projects--info p {
    font-size: 0.8rem;
    cursor: pointer;
}
.section--projects--photoarea:hover .section--projects--info {
        display: flex;
    }


@media(max-width:800px) {
    .section--projects .section--projects--filters {
        margin-left: 30px;
        margin-right: 30px;
    }
}


/* Team */

.bg-team {
    background-image: url('../../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.team .section--team--area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section--team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section--team .sliders {
    width: 1000vw;
    height: 100%;
}
.section--team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section--team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 8%;
}

.slider--pointers {
    margin: auto;
    margin-top: 5%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    cursor: pointer;
}
.slider--pointers .active {
    background-color: #b28756;
}
.section--team--avatar {
    width: 150px;
    height: auto;
}
.section--team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 8%;
}
.section--team--role {
    font-size: 0.8rem;
    color: #999;
    margin-top: 4%;
}
.section--team--social {
    display: flex;
    margin-top: 7%;
}
.section--team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 7%;
}
.section--team--social a:hover {
    background-color: #b28756;
}



@media(max-width:900px) {
    .section--team {
        max-width: 580px;
    }
}

@media(max-width:605px) {
    .section--team {
        max-width: 280px;
    }
}





/* Footer */

.section--footer {
    display: inline-flex;
    margin: auto;
}
.section--footer--social {
    display: flex;
    margin-right: 5%;
    width: 300px;
    height: 200px;
}
.section--footer--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: #333;
    border-radius: 15px;
    margin-right: 7%;
    color: #FFF;
    text-decoration: none;
}
.section--footer--social h6{
    display: flex;
}
.section--footer--social a:hover {
    background-color: #b28756;
}
.section--footer--info {
    font-size: 0.8rem;
    font-weight: 500;
    color: #FFF;
    height: 200px;
}
.section--footer--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 600px;
    height: 200px;
    margin-left: 5%;
    padding: 5%;
}
.section--footer--form input {
    color: #FFF;
    text-align: center;
    padding: 4%;
    background-color: #333;
    border: none;
    border-bottom: 1px solid #FFF;
}



@media(max-width:1000px) {
    .section--footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .section--footer--form {
        margin-left: 0;
    }
}
@media(max-width:670px) {
    .section--footer--social {
        width: 200px;
        height: 100px;
    }
    .section--footer--social a {
        width: 80px;
        height: 20px;
        border-radius: 10px;
    }
    .section--footer--form {
        width: 400px;
        height: 150px;
    }
}

@media(max-width:470px) {
    .section--footer--form {
        width: 200px;
        height: 100px;
    }
    .section--footer--form input {
        padding: 1%;
        width: 100%;
    }
}

@media(max-width:370px) {
    .section--footer--info {
        margin-bottom: 30%;
    }
}


