@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
.banner {

    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../src/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.sliders {
    width: 1000vw;
    height: 100%;
}
.slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner .slidearea h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.1rem;
}
.banner .slidearea h1 span {
    color: #b28756
}
.banner .slidearea h2 {
    text-transform: uppercase;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1rem;
}
.banner a{
    display: block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 2%;
    border-radius: 20px;
}
.banner .slider--pointers {
    width: 100vw;
    height: 20px;
    position: relative;
    margin-top: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    cursor: pointer;
}
.banner .slider--pointers .active {
    background-color: #b28756;
}


@media(max-width: 500px) {
    .banner .slidearea h1 {
        font-size: 2rem;
    }
    .banner .slidearea h2 {
        font-size: 0.8rem;
    }
}